@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap');

:root {
	--grayish-blue: #8385a9;
	--soft-red: #fa5f86;
	--white: #ffffff;
	--desaturated-blue: #343650;
	--dark-blue: #1d1e29;
	--very-dark-blue: #191a23;
}

* {
	margin: 0;
	position: 0;
	box-sizing: border-box;
}

body {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 100vh;
	font-family: 'Red Hat Text';
	background: linear-gradient(
		to bottom,
		var(--dark-blue) 10%,
		var(--soft-red) 1000%
	);
}

body::before,
body::after {
	position: absolute;
	content: '';
	background-size: contain;
	width: 100%;
	height: 100vh;
	background-repeat: no-repeat;
	background-position: bottom;
}

body::before {
	background-image: url('../assets/images/bg-stars.svg');
	z-index: -2;
}

body::after {
	background-image: url('../assets/images/pattern-hills.svg');
	z-index: -1;
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	height: 100vh;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 0.3rem;
	font-weight: normal;
}

.content__heading {
	font-size: 1.2rem;
}

.content__timer {
	display: flex;
	align-items: center;
	gap: 30px;
}

.timer__unit {
	text-align: center;
}

.unit__face {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-width: 130px;
	height: 120px;
	font-size: 4rem;
	margin-bottom: 20px;
	background-color: var(--desaturated-blue);
	border-radius: 10px;
	box-shadow: 0px 10px var(--very-dark-blue);
	overflow: hidden;
}

.unit__face::before,
.unit__face::after {
	position: absolute;
	content: '';
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: var(--very-dark-blue);
}

.unit__face::before {
	left: -10px;
}

.unit__face::after {
	right: -10px;
}

.face__top,
.face__bottom {
	width: 100%;
}

.face__top {
	background-color: #fff;
	background: linear-gradient(
		to bottom,
		var(--desaturated-blue) 95%,
		var(--dark-blue) 100%
	);
	border-width: 2px 0 0 0;
	border-color: rgba(255, 255, 255, 0.116);
	border-style: solid;
	border-radius: 10px 10px 0 0;
	height: 100%;
}

.face__value {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: var(--soft-red);
}

.face__bottom {
	background: linear-gradient(
		to top,
		var(--desaturated-blue) 95%,
		rgba(255, 255, 255, 0.164) 100%
	);
	border-radius: 0 0 10px 10px;
	height: 100%;
}

.timer__title {
	font-size: 0.7rem;
	opacity: 0.5;
}
/***************** FOOTER STYLES ************************/

footer {
	position: relative;
	margin: 50px 0;
}

.footer__nav {
	display: flex;
	list-style: none;
	justify-content: center;
	gap: 40px;
}

.footer__nav__item {
	cursor: pointer;
}
